<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do List</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", new { @class = "navbar-brand" })*@
                @Html.ActionLink("Home", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("To-Do List", "Index", "TodoItems")</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2025 - @DateTime.Now.Year | My To-Do-list</p>
        </footer>
    </div>

    <div class="container">
          <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
              <div class="col-md-4 d-flex align-items-center"> 
                    <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Bootstrap"> 
                        <svg class="bi" width="30" height="24" aria-hidden="true">
                        <use xlink:href="#bootstrap"></use>
                        </svg> </a> 
                    <span class="mb-3 mb-md-0 text-body-secondary">© 2025 Company, Inc</span> 
              </div> 
             <ul class="nav col-md-4 justify-content-end list-unstyled d-flex"> 
              <li class="ms-3"><a class="text-body-secondary" href="#" aria-label="Instagram">
                  <svg class="bi" width="24" height="24" aria-hidden="true">
                    <use xlink:href="#instagram"></use>
                   </svg></a>
               </li> 
              <li class="ms-3">
              <a class="text-body-secondary" href="#" aria-label="Facebook">
                  <svg class="bi" width="24" height="24">
                    <use xlink:href="#facebook"></use>
                  </svg></a>
               </li> 
             </ul> 
          </footer> 
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
